.code-block_wrapper__t6FCO {
    position: relative;
    border: 1px solid var(--ds-gray-400);
    --shiki-color-text: var(--ds-gray-1000);
    --shiki-color-background: transparent;
    --shiki-token-constant: var(--ds-gray-1000);
    --shiki-token-string: var(--ds-green-900);
    --shiki-token-comment: var(--ds-gray-900);
    --shiki-token-keyword: var(--ds-pink-900);
    --shiki-token-parameter: var(--ds-amber-900);
    --shiki-token-function: var(--ds-blue-900);
    --shiki-token-string-expression: var(--ds-green-900);
    --shiki-token-punctuation: var(--ds-gray-1000);
    --shiki-token-link: var(--ds-green-900)
}

.code-block_wrapper__t6FCO .token {
    position: relative
}

.code-block_wrapper__t6FCO .token.cdata,
.code-block_wrapper__t6FCO .token.comment,
.code-block_wrapper__t6FCO .token.doctype,
.code-block_wrapper__t6FCO .token.prolog {
    color: var(--accents-5)
}

.code-block_wrapper__t6FCO .token.namespace {
    opacity: .7
}

.code-block_wrapper__t6FCO .token.attr-value,
.code-block_wrapper__t6FCO .token.string {
    color: var(--ds-green-900)
}

.code-block_wrapper__t6FCO .token.operator,
.code-block_wrapper__t6FCO .token.punctuation {
    color: var(--ds-gray-1000)
}

.code-block_wrapper__t6FCO .token.boolean,
.code-block_wrapper__t6FCO .token.constant,
.code-block_wrapper__t6FCO .token.symbol,
.code-block_wrapper__t6FCO .token.url,
.code-block_wrapper__t6FCO .token.variable {
    color: var(--ds-green-900)
}

.code-block_wrapper__t6FCO .language-autohotkey .token.selector,
.code-block_wrapper__t6FCO .language-json .token.boolean,
.code-block_wrapper__t6FCO .token.atrule,
.code-block_wrapper__t6FCO code[class*=language-css] {
    font-weight: 600
}

.code-block_wrapper__t6FCO .language-json .token.boolean {
    color: var(--geist-success)
}

.code-block_wrapper__t6FCO .token.keyword {
    color: var(--ds-pink-900)
}

.code-block_wrapper__t6FCO .token.class-name,
.code-block_wrapper__t6FCO .token.function,
.code-block_wrapper__t6FCO .token.number,
.code-block_wrapper__t6FCO .token.tag,
.code-block_wrapper__t6FCO .token.tag .token.punctuation {
    color: var(--ds-blue-900)
}

.code-block_wrapper__t6FCO .language-autohotkey .token.tag {
    color: #9a050f
}

.code-block_wrapper__t6FCO .language-autohotkey .token.keyword,
.code-block_wrapper__t6FCO .token.selector {
    color: var(--ds-pink-900)
}

.code-block_wrapper__t6FCO .token.bold,
.code-block_wrapper__t6FCO .token.important {
    font-weight: 700
}

.code-block_wrapper__t6FCO .token.italic {
    font-style: italic
}

.code-block_wrapper__t6FCO .token.deleted {
    color: var(--ds-red-900)
}

.code-block_wrapper__t6FCO .token.inserted {
    color: var(--ds-blue-900)
}

.code-block_wrapper__t6FCO .language-json .token.property,
.code-block_wrapper__t6FCO .language-markdown .token.title {
    color: var(--ds-gray-1000)
}

.code-block_wrapper__t6FCO .language-markdown .token.code {
    color: var(--ds-blue-900);
    font-weight: 400
}

.code-block_wrapper__t6FCO .language-markdown .token.hr,
.code-block_wrapper__t6FCO .language-markdown .token.list {
    color: var(--ds-gray-900)
}

.code-block_wrapper__t6FCO .language-markdown .token.url {
    color: var(--ds-pink-900)
}

.code-block_wrapper__t6FCO .token.selector {
    color: var(--ds-green-900)
}

.code-block_wrapper__t6FCO .token.entity,
.code-block_wrapper__t6FCO .token.property {
    color: var(--ds-red-900)
}

.code-block_wrapper__t6FCO .token.attr-name,
.code-block_wrapper__t6FCO .token.regex {
    color: var(--ds-amber-900)
}

.code-block_wrapper__t6FCO .token.directive.tag .tag {
    background: var(--ds-red-900);
    color: var(--ds-gray-900)
}

.code-block_code__isn_V {
    display: grid;
    color: var(--ds-gray-1000);
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    font-size: 13px;
    line-height: 20px;
    font-family: var(--font-mono);
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    -webkit-hyphens: none;
    -ms-hyphens: none;
    hyphens: none
}

.code-block_wrapper__t6FCO.code-block_hasFileName__ezlBD .code-block_pre___OLfy {
    border-radius: 0 0 6px 6px;
    background: var(--ds-background-100)
}

.code-block_wrapper__t6FCO {
    margin: 16px 0;
    border-radius: 6px;
    overflow: hidden
}

.code-block_header__t3NRd {
    padding: 0 12px 0 16px;
    border-radius: 6px 6px 0 0;
    border-bottom: 1px solid var(--ds-gray-400);
    display: flex;
    height: 48px;
    align-items: center;
    background: var(--ds-background-200)
}

.code-block_iconWrapper__TuHFk {
    width: 16px;
    display: flex;
    align-items: center;
    flex-shrink: 0
}

.code-block_copyButton__uo5Yu {
    height: 32px;
    width: 32px;
    border-radius: var(--geist-radius);
    border: none;
    color: var(--ds-gray-900);
    cursor: pointer;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: inherit;
    position: relative;
    transition: background .2s ease
}

.code-block_copyButton__uo5Yu[data-focus-visible-added] {
    outline: none;
    box-shadow: var(--ds-focus-ring)
}

@media (hover:hover) {
    .code-block_copyButton__uo5Yu:hover:not([data-active]) {
        background: var(--ds-gray-200) !important;
        color: var(--ds-gray-900) !important
    }
}

.code-block_copyButton__uo5Yu svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.code-block_copyButton__uo5Yu svg:nth-child(2) {
    opacity: 0;
    transform: translate(-50%, -50%) scale(.5)
}

.code-block_copyButton__uo5Yu.code-block_copyButtonCopied__fMOZ5 svg {
    animation: code-block_hide__enoxr 1.25s forwards
}

.code-block_copyButton__uo5Yu.code-block_copyButtonCopied__fMOZ5 svg:nth-child(2) {
    animation: code-block_show__KnRqc 1.25s .15s forwards
}

.code-block_copyFloatingButton__PsMvB {
    position: absolute;
    top: min(16%, 16px);
    right: 16px;
    opacity: 0;
    z-index: 1;
    background: var(--ds-background-200);
    border-radius: var(--geist-radius);
    border: 1px solid var(--ds-gray-400);
    transition: opacity .1s, background .2s
}

.code-block_copyFloatingButton__PsMvB:focus {
    opacity: 1
}

@media (hover:hover) {
    .code-block_wrapper__t6FCO:hover .code-block_copyFloatingButton__PsMvB {
        opacity: 1
    }
}

.code-block_fileName__HmSv1 {
    color: var(--ds-gray-900);
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 13px;
    min-width: 0;
    margin: 0 auto 0 0
}

.code-block_filenameP__02nok {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    max-width: 100%;
    min-width: 0
}

.code-block_actions__yphRf {
    display: flex;
    gap: 4px
}

.code-block_pre___OLfy {
    --padding: 20px;
    padding: var(--padding) 0;
    margin: 0;
    overflow-x: auto;
    background: var(--ds-background-100);
    counter-reset: line
}

.code-block_pre___OLfy .highlighted-line,
.code-block_pre___OLfy .line {
    height: 20px;
    position: relative;
    padding: 0 var(--padding)
}

.code-block_pre___OLfy .highlighted-line>div,
.code-block_pre___OLfy .line>div {
    display: inline-block
}

.code-block_pre___OLfy .highlighted-line:before,
.code-block_pre___OLfy .line:before {
    display: inline-block;
    color: var(--ds-gray-600)
}

.code-block_pre___OLfy .highlighted-line:before,
.code-block_pre___OLfy .line:before {
    counter-increment: line;
    content: counter(line);
    width: 16px;
    font-size: 13px;
    font-family: var(--font-mono);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: right;
    flex-shrink: 0;
    margin-right: var(--padding);
    z-index: 1
}

.code-block_pre___OLfy .highlighted-line:before {
    color: var(--ds-gray-1000)
}

.code-block_pre___OLfy .highlighted-line,
.code-block_pre___OLfy [data-highlighted=true] {
    position: relative;
    background: var(--ds-blue-300)
}

.code-block_pre___OLfy .highlighted-line:after,
.code-block_pre___OLfy [data-highlighted=true]:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 2px;
    background: var(--ds-blue-900)
}

.code-block_pre___OLfy.code-block_hideLineNumbers__52YKH .line:before,
.code-block_wrapper__t6FCO.code-block_hideLineNumbers__52YKH .line:before {
    display: none
}

.code-block_wrapper__t6FCO.code-block_custom__RWaXi .code-block_pre___OLfy {
    padding-left: 20px
}

@media (max-width:600px) {
    .code-block_pre___OLfy {
        --padding: 16px
    }
    .code-block_pre___OLfy:after {
        left: 0
    }
}

@keyframes code-block_hide__enoxr {
    0% {
        opacity: 1;
        transform: translate(-50%, -50%)
    }
    20% {
        opacity: 0;
        transform: translate(-50%, -50%) scale(.5)
    }
    80% {
        opacity: 0;
        transform: translate(-50%, -50%) scale(.5)
    }
    to {
        opacity: 1;
        transform: translate(-50%, -50%)
    }
}

@keyframes code-block_show__KnRqc {
    0% {
        opacity: 0;
        transform: translate(-50%, -50%) scale(.5)
    }
    20% {
        opacity: 1;
        transform: translate(-50%, -50%)
    }
    60% {
        opacity: 1;
        transform: translate(-50%, -50%)
    }
    80% {
        opacity: 0;
        transform: translate(-50%, -50%) scale(.5)
    }
    to {
        opacity: 0;
        transform: translate(-50%, -50%) scale(.5)
    }
}

.tabs_tabsWrapper__szdGn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--ds-background-200);
    border-bottom: 1px solid var(--ds-gray-400);
    padding: 12px
}

.tabs_tabsWrapper__szdGn.tabs_hideBorder__KB0di {
    border-bottom: none;
    padding-bottom: 0
}

.with-git-icon-background_background__tpU7H {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    border-radius: 100%;
    justify-content: center;
    background-color: #fff;
    border: 1px solid #fff
}

.with-git-icon-background_background__tpU7H[data-git-type=bitbucket] {
    background-color: #0052cc
}

.with-git-icon-background_background__tpU7H[data-git-type=bitbucket] svg {
    transform: scale(.65);
    color: #fff
}

.with-git-icon-background_background__tpU7H[data-git-type=gitlab] {
    background-color: #6b4fbb
}

.with-git-icon-background_background__tpU7H[data-git-type=gitlab] svg {
    transform: scale(.75)
}

.tabs_tabs__rJYVD {
    display: flex;
    flex-wrap: nowrap;
    align-items: baseline;
    padding-bottom: 1px;
    overflow-x: auto;
    box-shadow: 0 -1px 0 var(--accents-2) inset
}

.tabs_tabs__rJYVD.tabs_centered__Zh6B_ {
    justify-content: center
}

.tabs_tabs__rJYVD.tabs_bold__CVov9 {
    font-weight: 600
}

.tabs_tabs__rJYVD.tabs_noBorder__SZUg4 {
    box-shadow: none
}

.tabs_tabContainer___bdiV {
    padding: 0 var(--geist-gap-half);
    cursor: pointer;
    margin-bottom: 0;
    outline: 0
}

.tabs_tabContainer___bdiV[data-focus-visible-added] {
    outline: 0;
    box-shadow: 0 0 0 2px inset var(--ds-focus-color)
}

.tabs_tabs__rJYVD.tabs_tabs__rJYVD.tabs_noBorder__SZUg4>.tabs_tabContainer___bdiV {
    margin-bottom: 0;
    border-bottom: none
}

.tabs_disabled__iApRF .tabs_tabContainer___bdiV {
    cursor: not-allowed
}

.tabs_tabContainer___bdiV:first-child {
    padding-left: 0
}

.tabs_tab__MRwiF {
    display: flex;
    align-items: center;
    margin-bottom: -1px;
    padding: 12px 2px;
    color: var(--ds-gray-900);
    border-bottom: 2px solid transparent
}

@media (hover:hover) {
    .tabs_tab__MRwiF:hover:not(.tabs_activeTab__L_G3G) div {
        color: var(--ds-gray-1000)
    }
    .tabs_disabled__iApRF .tabs_tab__MRwiF:hover div {
        color: var(--ds-gray-900)
    }
}

.tabs_tabContainer___bdiV:focus .tabs_tab__MRwiF {
    color: var(--ds-gray-1000)
}

.tabs_disabled__iApRF .tabs_tabContainer___bdiV div {
    transition: color .2s
}

.tabs_activeTab__L_G3G,
.tabs_disabled__iApRF .tabs_tabContainer___bdiV:focus .tabs_tab__MRwiF.tabs_activeTab__L_G3G {
    color: var(--ds-gray-1000);
    border-bottom: 2px solid var(--ds-gray-1000)
}

.tabs_activeTab__L_G3G div,
.tabs_disabled__iApRF .tabs_tabContainer___bdiV:focus .tabs_tab__MRwiF.tabs_activeTab__L_G3G div {
    color: inherit
}

.tabs_tabIcon__Oh2re {
    margin-right: 6px;
    margin-bottom: -3px
}

.tabs_tabsSecondary__b5gGt {
    display: flex;
    gap: 8px
}

.tabs_tabSecondaryContainer__3weL8 {
    padding: 4px 6px;
    border-radius: 6px;
    background: var(--ds-gray-alpha-200);
    color: var(--ds-gray-1000);
    cursor: pointer
}

@media (hover:hover) {
    .tabs_tabSecondaryContainer__3weL8:hover:not(.tabs_activeSecondaryTabContainer__c75La):not(.tabs_disabledSecondaryTabContainer__xtlL1) {
        background: var(--ds-gray-alpha-300)
    }
}

.tabs_tabSecondaryContainer__3weL8[data-focus-visible-added] {
    outline: 0;
    box-shadow: 0 0 0 2px inset var(--ds-focus-color)
}

.tabs_disabledSecondaryTabContainer__xtlL1 {
    cursor: not-allowed
}

.tabs_activeSecondaryTabContainer__c75La {
    background: var(--ds-gray-1000)
}

.tabs_activeSecondaryTabContainer__c75La div {
    color: var(--ds-background-100)
}

.footer_footer__O_b2S {
    --geist-page-width: 1400px;
    font-size: .875rem;
    background: var(--ds-background-100);
    border-top: 1px solid var(--ds-gray-alpha-400);
    padding: 28px var(--geist-gap) var(--geist-gap)
}

@media (max-width:960px) {
    .footer_footer__O_b2S {
        padding: 20px var(--geist-gap) 16px
    }
}

.footer_footer__O_b2S nav {
    max-width: var(--geist-page-width);
    margin: 0 auto;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between
}

.footer_footer__O_b2S section {
    max-width: var(--geist-page-width);
    margin: 32px auto 0
}

.footer_column__HZJuv .footer_group__1E48L+.footer_group__1E48L {
    margin-top: var(--geist-gap)
}

.footer_group__1E48L .footer_header__l9pvw {
    font-weight: 500;
    font-size: 14px;
    margin: var(--geist-gap-half) 0
}

.footer_list__EoVSJ {
    display: grid;
    grid-template-columns: 1fr 1fr;
    list-style-type: none;
    margin: 0;
    padding: 0
}

@media (max-width:1250px) {
    .footer_list__EoVSJ {
        display: flex;
        flex-direction: column
    }
}

.footer_item__tMf_5 {
    color: var(--accents-5);
    padding: 6px 0
}

@media (max-width:960px) {
    .footer_footer__O_b2S nav {
        width: 100%;
        flex-direction: column
    }
    .footer_footer__O_b2S .footer_group__1E48L {
        margin-right: 0;
        min-height: 48px;
        border-bottom: 1px solid var(--accents-2)
    }
    .footer_column__HZJuv .footer_group__1E48L+.footer_group__1E48L {
        margin-top: unset
    }
    .footer_group__1E48L .footer_header__l9pvw {
        cursor: pointer;
        font-size: 14px;
        margin-top: 16px
    }
    .footer_group__1E48L h3:after {
        content: "+";
        float: right;
        transition: transform .15s ease
    }
    .footer_group__1E48L input:focus.focus-visible~label h3:after {
        border-radius: var(--geist-radius);
        box-shadow: 0 0 0 2px var(--geist-success)
    }
    .footer_group__1E48L input:checked~label h3:after {
        transform: rotate(45deg)
    }
    .footer_list__EoVSJ {
        padding-left: var(--geist-gap-half);
        padding-bottom: var(--geist-gap-half);
        display: none
    }
    .footer_group__1E48L input:checked~.footer_list__EoVSJ {
        display: block
    }
}

.switcher_langSwitcherTrigger__3z75V {
    padding: 0 8px;
    border: none;
    border-radius: var(--geist-radius);
    font-size: 13px;
    height: 100%;
    display: flex;
    align-items: center;
    line-height: 1;
    gap: 4px;
    background: var(--ds-background-200);
    transition: background .2s, color .2s;
    cursor: pointer;
    color: var(--ds-gray-900);
    font-family: var(--font-sans);
    white-space: nowrap
}

.switcher_langSwitcherTrigger__3z75V:focus {
    outline: none;
    box-shadow: var(--ds-focus-ring)
}

@media (hover:hover) {
    .switcher_langSwitcherTrigger__3z75V:hover {
        background: var(--ds-gray-200)
    }
}

.switcher_langSwitcherViewport__e6ztt {
    padding: 6px
}

.switcher_langSwitcherContent__YAs5d {
    overflow: hidden;
    background-color: var(--geist-background);
    border-radius: var(--geist-radius);
    box-shadow: var(--shadow-medium)
}

.switcher_langSwitcherItem__Y7X6Z {
    font-size: 13px;
    line-height: 1;
    color: var(--accents-6);
    border-radius: 3px;
    display: flex;
    align-items: center;
    gap: 6px;
    height: 26px;
    padding: 0 8px 0 24px;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: none
}

.switcher_langSwitcherItem__Y7X6Z[data-highlighted] {
    background-color: var(--ds-gray-200)
}

.switcher_langSwitcherIndicator__6F8B4 {
    position: absolute;
    left: 0;
    width: 25px;
    display: inline-flex;
    align-items: center;
    justify-content: center
}

.hr_container__vRAef {
    border: 0;
    border-top: 1px solid var(--accents-2);
    margin: 48px 0
}

@media (max-width:480px) {
    .hr_container__vRAef {
        margin: 36px 0
    }
}

.footer_marketingFooterContainer__48kHC {
    padding: 48px var(--geist-gap);
    background: var(--ds-background-100)
}

@media (max-width:1250px) {
    .footer_marketingFooterContainer__48kHC {
        padding: 32px var(--geist-gap)
    }
}

.footer_marketingFooterContainer__48kHC .footer_theme-switcher__JPVDa {
    width: max-content;
    margin-left: auto
}

.footer_marketingFooterContainer__48kHC .footer_theme-switcher__JPVDa .footer_contact__f20st {
    display: none
}

.footer_marketingFooter__QL4c2 {
    display: grid;
    grid-template-columns: .7fr repeat(3, 1fr) 120px;
    gap: var(--geist-gap);
    width: 100%;
    max-width: 100%
}

@media (max-width:1250px) {
    .footer_marketingFooter__QL4c2 {
        grid-template-columns: .9fr repeat(3, 1fr) 120px
    }
}

.footer_wrapper__8yEt7 {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: var(--geist-gap) 0 var(--geist-gap);
    width: var(--geist-page-width-with-margin);
    max-width: 100%;
    margin: auto
}

.footer_logotype__9r6ml {
    display: flex;
    padding-top: 8px;
    gap: 10px
}

@media screen and (max-width:960px) {
    .footer_logotype__9r6ml {
        padding-top: 0
    }
}

.footer_copyright__69W_S {
    color: var(--accents-5);
    font-size: 14px
}

.footer_social__nmdaq {
    margin: 0;
    padding: 0 0 0 5px;
    list-style: none;
    display: inline-flex;
    align-items: center
}

.footer_social__nmdaq li {
    display: inline-flex;
    margin-right: 19px;
    box-sizing: border-box;
    line-height: 0
}

.footer_social__nmdaq a {
    color: var(--accents-5);
    text-decoration: none;
    font-size: 14px;
    transition: all .2s ease;
    margin-top: -1px
}

@media (hover:hover) {
    .footer_social__nmdaq a:hover {
        color: var(--geist-foreground)
    }
}

.footer_social__nmdaq a svg {
    height: 16px;
    width: 16px
}

.footer_social__nmdaq .footer_github__C0XBp {
    display: inline-block;
    width: 16px;
    height: 16px
}

.footer_social__nmdaq .footer_bird__eNkIZ {
    display: inline-block;
    padding-top: 1px
}

.footer_link__TtCV5 {
    color: var(--accents-5)
}

@media (hover:hover) {
    .footer_link__TtCV5:hover {
        color: var(--geist-foreground)
    }
}

.footer_legalButton__hkSj9 {
    padding: var(--geist-gap-quarter) 0
}

@media screen and (max-width:960px) {
    .footer_marketingFooterContainer__48kHC {
        padding: 24px var(--geist-gap) 20px
    }
    .footer_marketingFooterContainer__48kHC .footer_logotype__9r6ml {
        align-items: center;
        gap: 20px;
        padding-bottom: 20px;
        flex-direction: row;
        justify-content: space-between
    }
    .footer_marketingFooterContainer__48kHC .footer_logotype__9r6ml div>a>div {
        justify-content: center
    }
    .footer_marketingFooterContainer__48kHC .footer_logotype__9r6ml .footer_contact__f20st {
        display: none
    }
    .footer_marketingFooterContainer__48kHC .footer_wrapper__8yEt7 {
        flex-wrap: wrap;
        justify-content: center
    }
    .footer_marketingFooterContainer__48kHC .footer_status__glnFA,
    .footer_marketingFooterContainer__48kHC .footer_theme-switcher__JPVDa {
        order: 0;
        flex-basis: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 22px 0 0;
        width: 100%
    }
    .footer_marketingFooterContainer__48kHC .footer_status__glnFA .footer_contact__f20st,
    .footer_marketingFooterContainer__48kHC .footer_theme-switcher__JPVDa .footer_contact__f20st {
        display: flex
    }
    .footer_marketingFooterContainer__48kHC .footer_marketingFooter__QL4c2 {
        grid-template-columns: 1fr;
        gap: unset
    }
    .footer_marketingFooterContainer__48kHC .footer_marketingSubFooter___zGWw {
        padding-top: var(--geist-gap)
    }
    .footer_marketingFooterContainer__48kHC .footer_marketingSubFooter___zGWw .footer_theme-switcher__JPVDa {
        margin: var(--geist-space-8x) 0 0
    }
}

.footer_contact__f20st {
    margin-top: auto;
    margin-bottom: 12px;
    display: flex
}

.footer_logotypeWrapper__qPibo {
    display: flex;
    gap: 20px;
    align-items: center
}

.footer_logotypeWrapper__qPibo .footer_logotype__9r6ml {
    padding-top: 0
}

.footer_cmdk__AZTR4 {
    font-family: inherit;
    padding: 0 4px 0 12px;
    display: flex;
    height: 34px;
    font-size: 14px;
    align-items: center;
    border: none;
    border-radius: var(--geist-radius);
    background-color: var(--geist-background);
    letter-spacing: -.01em;
    color: var(--ds-gray-900);
    transition: background .2s;
    cursor: pointer;
    margin-left: auto
}

.footer_cmdk__AZTR4 kbd {
    min-width: 0 !important;
    line-height: 20.5px !important;
    height: 20px !important;
    width: 20px !important
}

@media (hover:hover) {
    .footer_cmdk__AZTR4:hover {
        background: var(--accents-1)
    }
}

.footer_cmdk__AZTR4 kbd:first-of-type {
    margin-left: 10px
}

.footer_cmdk__AZTR4 kbd {
    height: 24px
}

.footer_logo__z5B3Q {
    display: flex;
    align-items: center
}

.footer_dashboardFooter__TZlJo {
    padding-bottom: 32px;
    --geist-page-width: 1200px
}

@media (max-width:960px) {
    .footer_dashboardFooter__TZlJo {
        padding-bottom: 20px
    }
}

.footer_dashboardFooterLinks__ssDUW {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    width: 100%;
    margin: -10px 0 0
}

.footer_dashboardFooterLinks__ssDUW .footer_contact__f20st {
    margin: 0
}

.footer_topWrapper__X8Ibt {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
    width: 100%
}

.footer_topWrapper__X8Ibt .footer_copyright__69W_S {
    margin-top: -1px;
    order: unset
}

.footer_contactWrapper__OpiLd [role=radiogroup],
.footer_topWrapper__X8Ibt .footer_contact__f20st {
    display: none
}

@media (max-width:1050px) {
    .footer_cmdk__AZTR4 {
        display: none
    }
    .footer_topWrapper__X8Ibt [role=radiogroup] {
        margin-left: auto
    }
    .footer_topWrapper__X8Ibt .footer_copyright__69W_S {
        text-align: left;
        margin-right: auto
    }
}

@media (max-width:850px) {
    .footer_dashboardFooterLinks__ssDUW {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2px
    }
    .footer_topWrapper__X8Ibt .footer_copyright__69W_S {
        order: 2
    }
    .footer_dashboardFooterLinks__ssDUW .footer_contact__f20st {
        display: none
    }
    .footer_dashboardFooter__TZlJo {
        display: flex;
        flex-direction: column;
        gap: 16px
    }
    .footer_dashboardFooter__TZlJo .footer_topWrapper__X8Ibt {
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
        margin-bottom: 24px
    }
    @media (max-width:960px) {
        .footer_dashboardFooter__TZlJo .footer_topWrapper__X8Ibt {
            margin-bottom: 8px
        }
    }
    .footer_dashboardFooter__TZlJo .footer_topWrapper__X8Ibt .footer_contact__f20st,
    .footer_dashboardFooter__TZlJo .footer_topWrapper__X8Ibt [role=radiogroup] {
        display: none
    }
    .footer_dashboardFooter__TZlJo>section {
        margin: 0
    }
    .footer_cmdk__AZTR4 {
        display: none
    }
    .footer_topWrapper__X8Ibt {
        flex-direction: column
    }
    .footer_topWrapper__X8Ibt .footer_contact__f20st {
        display: flex
    }
    .footer_contactWrapper__OpiLd {
        margin-top: 14px;
        order: 2;
        grid-column: span 2;
        display: flex;
        justify-content: space-between
    }
    .footer_contactWrapper__OpiLd .footer_contact__f20st {
        display: flex !important;
        width: 50%
    }
    .footer_contactWrapper__OpiLd [role=radiogroup] {
        display: flex
    }
}

@media (max-width:850px) and (min-width:600px) {
    .footer_dashboardFooterLinks__ssDUW {
        grid-template-columns: 1fr 1fr 1fr;
        margin-bottom: 16px
    }
    .footer_contactWrapper__OpiLd {
        justify-content: flex-start
    }
    .footer_contactWrapper__OpiLd .footer_contact__f20st {
        width: 50%
    }
}

@media (max-width:600px) {
    .footer_social__nmdaq {
        padding-left: 0
    }
}

.code_codeContainer__pmxI3 {
    margin: 16px 0;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
    border: 1px solid var(--ds-gray-400)
}

.code_codeContainer__pmxI3.code_customComponent__yDZ_M pre {
    padding-left: 20px
}

@media (hover:hover) {
    .code_codeContainer__pmxI3:hover .code_floatingCopyButton__Z9X9Q {
        opacity: 1
    }
}

.code_header__CN60C {
    padding: 8px 12px 8px 16px;
    border-top: 1px solid var(--ds-gray-400);
    border-bottom: 1px solid var(--ds-gray-400);
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--ds-background-200)
}

.code_header__CN60C.code_noTopBorder__ItY2e {
    border-top: none
}

.code_noFrameworkHeader__LyZSD {
    padding: 8px 12px 8px 16px;
    border-top: 1px solid var(--ds-gray-400);
    border-bottom: 1px solid var(--ds-gray-400);
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--ds-background-200)
}

.code_noFrameworkHeader__LyZSD.code_noTopBorder__ItY2e {
    border-top: none
}

.code_pre__vtQWd .code_code__jnJAI {
    display: inline-grid;
    width: 100%
}

.code_langAndCopy__y2gt3 {
    display: flex;
    gap: 4px
}

.code_fileName__yvtLe {
    gap: 8px
}

.code_copyButton__C2Udl,
.code_fileName__yvtLe {
    color: var(--ds-gray-900);
    display: flex;
    align-items: center
}

.code_copyButton__C2Udl {
    height: 32px;
    width: 32px;
    border-radius: var(--geist-radius);
    border: none;
    cursor: pointer;
    padding: 0;
    justify-content: center;
    background: inherit;
    transition: background .2s ease
}

@media (hover:hover) {
    .code_copyButton__C2Udl:hover:not([data-active]) {
        background: var(--ds-gray-200) !important;
        color: var(--ds-gray-900) !important
    }
}

.code_floatingCopyButton__Z9X9Q {
    position: absolute;
    top: 16px;
    right: 16px;
    opacity: 0;
    transition: opacity .2s;
    z-index: 1
}

.code_floatingCopyButton__Z9X9Q button {
    height: 32px;
    width: 32px;
    padding: 0;
    display: flex
}

.code_floatingCopyButton__Z9X9Q button svg {
    height: 18px;
    width: 18px
}

.code_inlineCode__wDXbp {
    display: inline;
    color: var(--geist-code);
    font-family: var(--font-mono);
    word-break: break-word;
    padding: 0 4px;
    font-size: .9em;
    border-radius: 4px;
    background: var(--ds-gray-200);
    border: 1px solid var(--ds-gray-400)
}

.code_pre__vtQWd {
    --padding: 20px;
    padding: var(--padding) 0;
    margin: 0;
    overflow-x: auto;
    background: var(--ds-background-100);
    counter-reset: line
}

.code_pre__vtQWd .line {
    height: 20px;
    position: relative;
    padding: 0 var(--padding)
}

.code_pre__vtQWd .line:before {
    counter-increment: line;
    content: counter(line);
    min-width: calc(40px + var(--padding));
    font-size: 13px;
    color: var(--ds-gray-600);
    font-family: var(--font-mono);
    -webkit-user-select: none;
    user-select: none;
    text-align: right;
    flex-shrink: 0;
    padding-right: var(--padding);
    z-index: 1
}

.code_pre__vtQWd .highlighted-line {
    position: relative;
    background: var(--ds-blue-300)
}

.code_pre__vtQWd .highlighted-line:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 2px;
    background: var(--ds-blue-900)
}

.code_copyButton__C2Udl {
    margin-left: auto
}

.code_iconWrapper__44lrX {
    width: 16px;
    display: flex;
    align-items: center
}

.code_pkgAndCopy__o9Ujz {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 4px 0 0;
    border-bottom: 1px solid var(--ds-gray-400)
}

@media screen and (max-width:768px) {
    .code_header__CN60C {
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 8px;
        padding: 8px
    }
    .code_header__CN60C>p {
        margin-left: .4rem
    }
    .code_header__CN60C>span {
        display: flex;
        width: 100%
    }
}

.code_code__jnJAI {
    --shiki-color-text: var(--ds-gray-1000);
    --shiki-color-background: transparent;
    --shiki-token-constant: var(--ds-gray-1000);
    --shiki-token-string: var(--ds-green-900);
    --shiki-token-comment: var(--ds-gray-900);
    --shiki-token-keyword: var(--ds-pink-900);
    --shiki-token-parameter: var(--ds-amber-900);
    --shiki-token-function: var(--ds-blue-900);
    --shiki-token-string-expression: var(--ds-green-900);
    --shiki-token-punctuation: var(--ds-gray-1000);
    --shiki-token-link: var(--ds-green-900)
}

.linked-heading_container__HeGkH {
    display: flex;
    margin-top: 2rem;
    margin-bottom: 1rem
}

@media screen and (max-width:450px) {
    .linked-heading_container__HeGkH h1 {
        font-size: 24px !important;
        line-height: 26px
    }
    .linked-heading_container__HeGkH h2 {
        font-size: 20px !important;
        line-height: 22px
    }
    .linked-heading_container__HeGkH h3 {
        font-size: 18px !important;
        line-height: 20px
    }
    .linked-heading_container__HeGkH {
        margin-top: 24px !important;
        margin-bottom: 20px !important
    }
    .linked-heading_container__HeGkH .linked-heading_description__7d2uO {
        font-size: 1em
    }
    h2 .linked-heading_title__QnfTO {
        margin-top: 0 !important
    }
}

.linked-heading_container__HeGkH:not(:first-of-type) {
    margin-top: 2rem
}

.linked-heading_hasDescription__ZbWhr {
    flex-direction: column
}

.linked-heading_header__3fGdZ {
    align-items: center;
    position: relative
}

.linked-heading_pill__FRP0f {
    margin-top: -2rem
}

.linked-heading_pill__FRP0f a {
    text-decoration: none
}

.linked-heading_title__QnfTO {
    border-bottom: 1px solid transparent;
    color: inherit;
    cursor: pointer;
    margin-right: 10px;
    text-decoration: none;
    overflow-wrap: break-word
}

h2 .linked-heading_title__QnfTO {
    margin-top: 1.5rem
}

.linked-heading_titleNoMargin__gI9zh {
    border-bottom: 1px solid transparent;
    color: inherit;
    cursor: pointer;
    margin-right: 10px;
    text-decoration: none;
    overflow-wrap: break-word
}

.linked-heading_description__7d2uO {
    font-size: 1.3em;
    color: var(--accents-7);
    line-height: 1.5;
    margin-top: 1rem
}

@media (hover:hover) {
    .linked-heading_title__QnfTO:hover {
        border-bottom-color: inherit
    }
}

.linked-heading_title__QnfTO.linked-heading_isBeta__TB7se {
    display: inline-flex;
    align-items: center
}

.linked-heading_title__QnfTO h2 {
    font-size: 2.5rem;
    margin: 0;
    padding: 0;
    letter-spacing: -.049375rem;
    font-weight: 600
}

.linked-heading_title__QnfTO h3 {
    font-size: 1.5rem;
    margin: 0;
    padding: 0;
    letter-spacing: -.029375rem;
    font-weight: 600
}

@media (hover:hover) {
    .linked-heading_title__QnfTO h2:hover,
    .linked-heading_title__QnfTO h3:hover {
        border-bottom: 1px solid var(--geist-foreground)
    }
}

.linked-heading_target__ceA86 {
    display: block;
    margin-top: -60px;
    padding-top: 60px;
    visibility: hidden;
    position: absolute
}

.linked-heading_permalinkJoin__6FQA7,
.linked-heading_permalink__40PZ3 {
    text-align: center;
    vertical-align: middle;
    visibility: hidden;
    top: -6px;
    position: relative
}

@media screen and (max-width:650px) {
    .linked-heading_permalink__40PZ3 {
        display: none
    }
    .linked-heading_header__3fGdZ {
        display: flex
    }
    .linked-heading_pill__FRP0f {
        display: none
    }
}

@media (hover:hover) {
    .linked-heading_title__QnfTO:hover~.linked-heading_permalink__40PZ3 {
        visibility: visible
    }
}

@media screen and (max-width:950px) {
    .linked-heading_target__ceA86 {
        margin-top: -120px;
        padding-top: 120px
    }
}

@media screen and (max-width:1280px) {
    .linked-heading_offsetTop__OhcMB {
        margin-top: -120px;
        padding-top: 120px
    }
}

.link_link__jJm5S {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    outline: none
}

.link_link__jJm5S[data-focus-visible-added] {
    outline: var(--ds-focus-color) auto 2px;
    outline-offset: 4px
}

.link_primary__UU6fB {
    color: var(--geist-foreground)
}

@media (hover:hover) {
    .link_primary__UU6fB:hover:not(.link_disabled__6bd1N) {
        background-image: linear-gradient(var(--geist-foreground), var(--geist-foreground));
        background-size: 100% 1px;
        background-position: 0 100%;
        background-repeat: no-repeat
    }
}

.link_highlight__d8Fzh {
    color: var(--geist-link-color)
}

@media (hover:hover) {
    .link_highlight__d8Fzh:hover:not(.link_disabled__6bd1N) {
        background-image: linear-gradient(var(--geist-link-color), var(--geist-link-color));
        background-size: 100% 1px;
        background-position: 0 100%;
        background-repeat: no-repeat
    }
}

.link_secondary__Xo2Cq {
    color: var(--accents-5);
    transition: color .1s ease
}

@media (hover:hover) {
    .link_secondary__Xo2Cq:hover:not(.link_disabled__6bd1N) {
        color: var(--geist-foreground)
    }
}

.link_blend__GCQEt {
    color: inherit;
    transition: opacity .1s ease;
    background-image: linear-gradient(currentColor, currentColor);
    background-size: 100% 1px;
    background-position: 0 100%;
    background-repeat: no-repeat;
    font-weight: 500
}

@media (hover:hover) {
    .link_blend__GCQEt:hover:not(.link_disabled__6bd1N) {
        opacity: .6
    }
}

.link_underline__GRnOR {
    color: inherit
}

.link_alwaysUnderline__TOTB_ {
    background-image: linear-gradient(currentColor, currentColor);
    background-size: 100% 1px;
    background-position: 0 100%;
    background-repeat: no-repeat
}

@media (hover:hover) {
    .link_underline__GRnOR:hover:not(.link_disabled__6bd1N) {
        background-image: linear-gradient(currentColor, currentColor);
        background-size: 100% 1px;
        background-position: 0 100%;
        background-repeat: no-repeat
    }
}

.link_external__G9zyC {
    display: inline-flex;
    align-items: center
}

.link_externalIcon__M0Bj8 {
    flex-shrink: 0;
    margin-left: var(--geist-space)
}

.link_fragment-link__2BmCa {
    display: inline-flex;
    align-items: center;
    --anchor-opacity: 0
}

@media (hover:hover) {
    .link_fragment-link__2BmCa:hover {
        --anchor-opacity: 1
    }
}

.link_anchor__4Unr7 {
    opacity: var(--anchor-opacity);
    transition: opacity .1s;
    position: absolute;
    transform: translateX(-200%);
    display: inline-flex
}

.mdx-components_h2__pAOSW>a {
    flex-wrap: wrap;
    position: relative
}

.mdx-components_h2__pAOSW>a>svg {
    position: absolute;
    right: var(--geist-space-4x-negative)
}

.mdx-components_inlineCodeLink__nKzGD {
    white-space: nowrap
}

.mdx-components_icon__JL_1_ {
    margin-left: 4px;
    vertical-align: middle
}