.sidebar_sidebar__0n2fV {
    width: 240px;
    margin-right: var(--geist-gap);
    max-width: 100%
}

@media screen and (max-width:1248px) {
    .sidebar_sidebar__0n2fV {
        width: 180px
    }
}

.sidebar_entry__M2eoF {
    text-decoration: none;
    display: block;
    padding: 8px var(--geist-space-gap-half);
    margin-left: var(--geist-space-gap-half-negative);
    font-size: 14px;
    color: var(--accents-6);
    transition: color .2s ease, background-color .2s ease;
    border-radius: var(--geist-radius)
}

.sidebar_entry__M2eoF.sidebar_active__sUGSE {
    color: var(--geist-foreground);
    font-weight: 500
}

.sidebar_entry__M2eoF.sidebar_disabled__VN_xp {
    color: var(--accents-3);
    pointer-events: none
}

.sidebar_entry__M2eoF:focus {
    color: var(--geist-foreground);
    background-color: var(--accents-2)
}

@media (hover:hover) {
    .sidebar_entry__M2eoF:hover {
        color: var(--geist-foreground);
        background-color: var(--accents-2)
    }
}

.sidebar_section__6tAjN {
    cursor: default;
    margin-bottom: var(--geist-space-4x)
}

.sidebar_section__6tAjN:not(.sidebar_first__FDn_V) {
    margin-top: var(--geist-space-8x)
}

.deployment-status_wrapper__HhXbC {
    display: inline-flex;
    align-items: center
}

.deployment-status_status__VNpbu {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background: var(--accents-2)
}

.deployment-status_status__VNpbu.deployment-status_ready__w9ZSc {
    background: var(--geist-cyan)
}

.deployment-status_status__VNpbu.deployment-status_error__eIO2W {
    background: var(--geist-error)
}

.deployment-status_status__VNpbu.deployment-status_building__r6R4W {
    background: var(--geist-warning)
}

.deployment-status_status-label__GxNQx {
    line-height: 16px !important;
    margin-left: 8px !important
}

@media (max-width:600px) {
    .deployment-page_hideOnMobile__kQANn {
        display: none
    }
}

._error_contentSection__P_PoC,
._error_content__3n5jk {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1
}

._error_contentSection__P_PoC {
    max-width: 100%;
    padding: 0 1em;
    text-align: center;
    line-height: 1.6
}

._error_logout__sQLvp {
    margin-bottom: 3em
}

._error_detail__WmeEs {
    display: flex;
    flex-direction: column;
    gap: 1em;
    max-width: 500px;
    text-align: left;
    align-items: flex-start;
    border-top: 1px solid var(--accents-2);
    margin-top: 1em;
    padding: 1em 1em 0
}

._error_content__3n5jk {
    padding: var(--geist-gap-double) 0
}

._error_summary__f3eUG {
    font-size: 16px;
    outline: none;
    cursor: pointer
}

._error_stack__y_vMn {
    white-space: pre-wrap;
    word-break: break-word;
    height: 300px;
    overflow: auto;
    font-size: 14px
}

._error_linkList__etRf1 {
    margin: 15px 0
}

._error_linkList__etRf1>a {
    font-weight: 600;
    display: inline-block;
    padding: 0 8px
}

@media (hover:hover) {
    ._error_linkList__etRf1>a:hover {
        background-image: none
    }
}

._error_linkList__etRf1>a:not(:last-child) {
    border-right: 1px solid var(--accents-2)
}

._error_disabled__HqM3N {
    pointer-events: none;
    opacity: .7
}

.banner-action_action__D_ReN {
    color: var(--geist-foreground);
    background: transparent
}

.banner-action_action__D_ReN.banner-action_primary__FtD5_[data-hover] {
    color: var(--geist-background);
    background-color: var(--geist-foreground)
}

.banner-action_action__D_ReN.banner-action_primary__FtD5_[data-active] {
    background-color: var(--accents-7)
}

.banner-action_secondary__5_q8v {
    border: none
}

.banner-action_secondary__5_q8v[data-hover] {
    background-color: hsla(0, 0%, 100%, .2)
}

.banner-action_secondary__5_q8v[data-active] {
    background-color: hsla(0, 0%, 100%, .3)
}

.banner-action_dim__JqELC {
    color: var(--geist-secondary)
}

.components_hero-wrapper__Em1Lt {
    position: relative;
    overflow: hidden
}

.components_gradient-wrapper__4AXDK {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    filter: blur(var(--gradient-blur-radius, 100px));
    -webkit-user-select: none;
    user-select: none;
    pointer-events: none
}

.components_title__3A_4H {
    margin: 0 auto;
    font-weight: 700;
    font-size: 80px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: -.02em
}

@media (max-width:768px) {
    .components_title__3A_4H {
        font-size: 46px
    }
}

.components_description__F3e0d {
    max-width: 850px;
    width: 100%;
    margin: 0 auto
}

.components_top-ctas__Q_pDX {
    max-width: 450px;
    width: 100%;
    margin: 0 auto
}

.components_summary__UG4gG {
    background: var(--accents-1);
    border-top: 1px solid var(--accents-2);
    border-bottom: 1px solid var(--accents-2)
}

.components_summary-icon__Z9w9S {
    width: 56px;
    height: 56px;
    flex-shrink: 0;
    background: var(--geist-foreground);
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center
}

.components_summary-wrapper__INO4V {
    max-width: 1256px;
    margin: 0 auto;
    width: 100%;
    padding: 0 var(--geist-space-gap)
}

.components_gradient__c_4lL {
    position: absolute;
    border-radius: 100%;
    background: var(--color);
    opacity: var(--light-opacity);
    mix-blend-mode: screen;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(.1, 0, .9, 1)
}

.dark-theme .components_gradient__c_4lL {
    opacity: var(--dark-opacity)
}

.components_gradient-1__2oL8W {
    width: 700px;
    height: 700px;
    z-index: -2;
    left: 60%;
    top: 40%;
    mix-blend-mode: lighten;
    animation-duration: 11s;
    animation-name: components_gradient-1__2oL8W
}

@keyframes components_gradient-1__2oL8W {
    0% {
        transform: translateY(-50%) translateX(-50%) rotate(-20deg) translateX(20%)
    }
    25% {
        transform: translateY(-50%) translateX(-50%) skew(-15deg, -15deg) rotate(80deg) translateX(30%)
    }
    50% {
        transform: translateY(-50%) translateX(-50%) rotate(180deg) translateX(25%)
    }
    75% {
        transform: translateY(-50%) translateX(-50%) skew(15deg, 15deg) rotate(240deg) translateX(15%)
    }
    to {
        transform: translateY(-50%) translateX(-50%) rotate(340deg) translateX(20%)
    }
}

.components_gradient-2__dqzUB {
    width: 600px;
    height: 600px;
    z-index: -1;
    left: 40%;
    top: 60%;
    animation-duration: 11s;
    animation-name: components_gradient-2__dqzUB;
    animation-direction: reverse
}

@keyframes components_gradient-2__dqzUB {
    0% {
        transform: translateY(-50%) translateX(-50%) rotate(40deg) translateX(-20%)
    }
    25% {
        transform: translateY(-50%) translateX(-50%) skew(15deg, 15deg) rotate(110deg) translateX(-5%)
    }
    50% {
        transform: translateY(-50%) translateX(-50%) rotate(210deg) translateX(-35%)
    }
    75% {
        transform: translateY(-50%) translateX(-50%) skew(-15deg, -15deg) rotate(300deg) translateX(-10%)
    }
    to {
        transform: translateY(-50%) translateX(-50%) rotate(400deg) translateX(-20%)
    }
}

.components_gradient-3__JzhZm {
    width: 500px;
    height: 500px;
    z-index: -3;
    left: 50%;
    top: 50%;
    animation-duration: 11s;
    animation-name: components_gradient-3__JzhZm
}

@keyframes components_gradient-3__JzhZm {
    0% {
        transform: translateY(-50%) translateX(-50%) translateX(-15%) translateY(10%)
    }
    20% {
        transform: translateY(-50%) translateX(-50%) translateX(20%) translateY(-30%)
    }
    40% {
        transform: translateY(-50%) translateX(-50%) translateX(-25%) translateY(-15%)
    }
    60% {
        transform: translateY(-50%) translateX(-50%) translateX(30%) translateY(20%)
    }
    80% {
        transform: translateY(-50%) translateX(-50%) translateX(5%) translateY(35%)
    }
    to {
        transform: translateY(-50%) translateX(-50%) translateX(-15%) translateY(10%)
    }
}

.components_graphic-flex-shrink__bc5h0 {
    flex-shrink: 0
}

.components_cta-button__QIUPY {
    max-width: 200px;
    width: 100%
}

@media (max-width:960px) {
    .components_cta-button__QIUPY {
        margin: 0 auto
    }
}

.components_graphic-light__M5suL {
    display: block
}

.components_graphic-light__M5suL svg {
    width: 100%;
    height: 100%
}

.components_graphic-dark__NDYEw,
.dark-theme .components_graphic-light__M5suL {
    display: none
}

.dark-theme .components_graphic-dark__NDYEw {
    display: block
}

.dark-theme .components_graphic-dark__NDYEw svg {
    width: 100%;
    height: 100%
}

.components_overflow-hidden__ep_pg {
    overflow: hidden
}

@media (max-width:960px) {
    .components_text-align-center-on-tablet__kmnJN {
        text-align: center;
        max-width: 640px
    }
}

.components_summary-item-text__rTtIJ,
.components_turbo-summary-item-text__VRv8q {
    text-align: center
}

@media (min-width:600px) and (max-width:1100px) {
    .components_turbo-summary-item-text__VRv8q {
        max-width: 100%
    }
}

@media (min-width:600px) {
    .components_turbo-summary-item-text__VRv8q {
        text-align: left;
        max-width: 200px
    }
    .components_summary-item-text__rTtIJ {
        text-align: left
    }
}

.product-banner_fadeInWrapper__2wXp2 {
    display: block;
    animation-duration: .2s;
    animation-timing-function: cubic-bezier(.455, .03, .515, .955);
    animation-fill-mode: forwards;
    animation-name: product-banner_fade-in__BYW0k
}

.product-banner_fadeInWrapper__2wXp2.product-banner_dismissing__yPXle {
    animation-name: product-banner_fade-out__vL7rT
}

.product-banner_bannerWrapper___cNAM {
    padding: 10px 0;
    background-color: #333;
    position: relative;
    overflow: hidden;
    --gradient-blur-radius: 40px
}

.product-banner_banner__kKLOD {
    display: flex;
    flex-direction: row;
    gap: var(--geist-space-gap-half)
}

.product-banner_content__M8jpQ {
    flex: 1 1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--geist-space-gap);
    min-height: var(--geist-form-small-height);
    z-index: 1
}

@keyframes product-banner_fade-in__BYW0k {
    0% {
        opacity: .3
    }
    to {
        opacity: 1
    }
}

@keyframes product-banner_fade-out__vL7rT {
    0% {
        opacity: 1
    }
    to {
        opacity: .3
    }
}

@media screen and (max-width:600px) {
    .product-banner_content__M8jpQ {
        flex-direction: column;
        align-items: flex-start;
        gap: var(--geist-space-gap-half)
    }
}

.product-banner_actions__WKnzo {
    display: flex;
    gap: var(--geist-space-gap-half)
}

.product-banner_cancelButton__GgdeW {
    background: transparent
}

.product-banner_cancelButton__GgdeW[data-hover] {
    --accents-4: rgba(0, 0, 0, .5)
}

.billing-form-modal_modalBody__xjGsA {
    background-color: var(--accents-1)
}

.billing-form-modal_actionError__gX9Fe,
.billing-form-modal_modalBody__xjGsA {
    border-top: 1px solid var(--accents-2)
}

.full-heading_wrapper__9T5_B {
    color: var(--geist-foreground)
}

.full-heading_border__7BVR3 {
    border-bottom: 1px solid var(--accents-2)
}

.full-heading_icon__Fk3_z {
    padding-right: var(--geist-gap)
}

.full-heading_title-container__A8byf {
    margin: var(--geist-space-large) 0
}

.full-heading_header__dOrpM,
.full-heading_main__Iy5cb,
.full-heading_menu__y2Ayy,
.full-heading_message__o2CPC {
    padding: 0 var(--geist-gap);
    width: var(--geist-page-width-with-margin);
    max-width: 100%;
    margin: 0 auto
}

.full-heading_header__dOrpM {
    display: flex;
    align-items: center;
    margin-bottom: var(--geist-gap-double)
}

.full-heading_title__Os3DI {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: calc(100% - 120px)
}

.full-heading_menu__y2Ayy {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: var(--geist-gap)
}

.full-heading_actions__5L9Yo .button:not(:first-child) {
    margin-left: 10px
}

.full-heading_child-wrapper___frxz {
    background: var(--accents-1);
    padding: var(--geist-gap) 0
}

.full-heading_child-wrapper___frxz>.full-heading_main__Iy5cb {
    display: flex;
    flex-direction: column;
    margin: 0 auto
}

.full-heading_main__Iy5cb {
    margin: var(--geist-gap) auto;
    min-height: calc(100vh - 273px)
}

@media (max-width:600px) {
    .full-heading_main__Iy5cb {
        min-height: calc(100vh - 366px)
    }
    .full-heading_header__dOrpM {
        flex-direction: column;
        text-align: center;
        justify-content: center
    }
    .full-heading_icon__Fk3_z {
        padding: 10px 0 5px
    }
    .full-heading_controls__3qWgP.full-heading_hideOnMobile__Pj7kU {
        display: none
    }
    .full-heading_menu__y2Ayy.full-heading_center__oTRf7 {
        justify-content: center
    }
    .full-heading_title-container-with-actions__5180x {
        margin-bottom: var(--geist-space-gap)
    }
}

.full-heading_full-heading-overlapped__3dQgJ {
    background: var(--geist-background);
    border-bottom: 1px solid var(--accents-2)
}

.sidebar_links__kl4fN a {
    border-bottom: 1px solid var(--accents-2);
    display: block;
    padding: var(--geist-gap) 0
}

.sidebar_links__kl4fN div h3 {
    height: 68px;
    padding: var(--geist-space-4x) var(--geist-gap);
    margin: 0 var(--geist-gap-negative);
    border-bottom: 1px solid var(--accents-2)
}

.sidebar_links__kl4fN a.sidebar_disabled__l1nLC {
    color: var(--accents-3);
    pointer-events: none
}

.sidebar_menuLink__99run {
    color: var(--geist-foreground);
    padding: var(--geist-gap);
    margin: 0 var(--geist-gap-negative);
    border-bottom: 1px solid var(--accents-2)
}

.sidebar_menuLink__99run span {
    margin-left: .75em
}

.sidebar_menuLink__99run span,
.with-team-settings_createTeam__6k8Lm {
    font-size: 1em;
    font-weight: 600;
    line-height: 1.5;
    letter-spacing: -.020625rem
}

.with-team-settings_back__tAgCO,
.with-team-settings_createTeam__6k8Lm {
    height: 68px;
    padding: var(--geist-gap);
    margin: 0 var(--geist-gap-negative);
    border-bottom: 1px solid var(--accents-2)
}

.with-team-settings_back__tAgCO {
    display: block;
    color: var(--geist-foreground)
}

.with-team-settings_back__tAgCO span {
    margin-left: .75em;
    font-size: 1em;
    font-weight: 600;
    line-height: 1.5;
    letter-spacing: -.020625rem
}

.with-team-settings_tabletLinks__pxZhK h3 {
    height: 68px;
    padding: var(--geist-space-4x) var(--geist-gap);
    margin: 0 var(--geist-gap-negative);
    border-bottom: 1px solid var(--accents-2)
}

.with-team-settings_tabletLinks__pxZhK a {
    border-bottom: 1px solid var(--accents-2);
    display: block;
    padding: var(--geist-gap) 0
}

.with-team-settings_hide__mPVNK {
    display: none
}

@media (max-width:960px) {
    .with-team-settings_content__PFEPQ.with-team-settings_menuPage__2Ov3h {
        display: none
    }
}

.dark-theme .cmdk_overlay__xMhMy {
    background: rgba(0, 0, 0, .8)
}

.dark-theme .cmdk_content__mMlTi {
    background: var(--accents-1);
    border: 1px solid var(--accents-2)
}

.dark-theme .cmdk_badge__9sTV3,
.dark-theme .cmdk_content__mMlTi kbd,
.dark-theme .cmdk_highlight___AJz_ {
    background: #33333370
}

.dark-theme .cmdk_input__LcX5a::placeholder {
    color: var(--accents-4)
}

.dark-theme .cmdk_input__LcX5a~hr {
    --loader-color: var(--accents-4);
    width: calc(100% + 16px);
    left: -8px;
    background: var(--accents-2)
}

.dark-theme .cmdk_item__kpqoP {
    color: var(--accents-5)
}

.dark-theme .cmdk_item__kpqoP[aria-selected] {
    color: var(--accents-7)
}

.dark-theme .cmdk_item__kpqoP .cmdk_frameworkIcon__C_Xj0 {
    background: var(--geist-foreground);
    border-radius: 50%;
    box-shadow: 0 0 0 1px var(--geist-foreground)
}

.cmdk_overlay__xMhMy {
    background-color: hsla(0, 0%, 100%, .9);
    top: 0;
    right: 0;
    left: 0;
    bottom: 0
}

.cmdk_content__mMlTi,
.cmdk_overlay__xMhMy {
    position: fixed;
    transition: opacity .2s ease
}

.cmdk_content__mMlTi {
    --cmdk-width: 640px;
    --cmdk-transform: translateX(-50%) scale(0.97);
    top: 20%;
    left: 50%;
    background: var(--geist-background);
    border-radius: 8px;
    width: var(--cmdk-width);
    box-shadow: 0 16px 70px rgba(0, 0, 0, .2);
    padding: 8px;
    transform-origin: 50%;
    outline: 0;
    opacity: 0;
    transform: var(--cmdk-transform);
    transition-property: opacity, transform
}

.cmdk_content__mMlTi.cmdk_rendered__SaUsz {
    opacity: 1;
    --cmdk-transform: translateX(-50%) scale(1)
}

.cmdk_content__mMlTi[data-error=true] {
    animation: cmdk_shake__zwvUS .5s ease both
}

.cmdk_content__mMlTi ul {
    padding: 0;
    margin: 0;
    list-style: none
}

.cmdk_content__mMlTi kbd {
    background: var(--accents-2);
    color: var(--accents-5);
    font-size: 12px;
    border-radius: 4px;
    padding: 4px;
    min-width: 20px;
    height: 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-family: var(--font-sans)
}

.cmdk_input__LcX5a {
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    width: 100%;
    background: transparent;
    border: 0;
    margin: 0;
    outline: 0;
    padding: 16px 8px;
    font-size: 18px;
    font-family: var(--font-sans);
    color: var(--accents-8)
}

.cmdk_input__LcX5a::placeholder {
    color: var(--accents-3)
}

.cmdk_input__LcX5a~hr {
    --loader-color: var(--accents-3);
    margin-top: 0;
    margin-bottom: 8px;
    border: 0;
    width: 100%;
    height: 1px;
    background: var(--accents-2);
    position: relative;
    overflow: visible
}

.cmdk_input__LcX5a~hr:after {
    content: "";
    width: 50%;
    height: 2px;
    position: absolute;
    background: linear-gradient(90deg, transparent 0, var(--loader-color) 50%, transparent 100%);
    top: -1px;
    opacity: 0;
    animation-duration: 1.5s;
    animation-timing-function: ease;
    animation-iteration-count: infinite
}

.cmdk_input__LcX5a~hr[data-loading=true]:after {
    animation-name: cmdk_loading__rw0wC
}

.cmdk_inputLine__mlczi {
    --loader-color: var(--accents-3);
    margin-top: 0;
    margin-bottom: 8px;
    border: 0;
    width: 100%;
    height: 1px;
    background: var(--accents-2);
    position: relative;
    overflow: visible
}

.cmdk_inputLine__mlczi:after {
    content: "";
    width: 50%;
    height: 2px;
    position: absolute;
    background: linear-gradient(90deg, transparent 0, var(--loader-color) 50%, transparent 100%);
    top: -1px;
    opacity: 0;
    animation-duration: 1.5s;
    animation-timing-function: ease;
    animation-iteration-count: infinite
}

.cmdk_inputLine__mlczi[data-loading=true]:after {
    animation-name: cmdk_loading__rw0wC
}

.cmdk_highlight___AJz_ {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 8px;
    background: #eaeaea70;
    width: 100%;
    z-index: -1;
    transition: transform .15s ease
}

.cmdk_item__kpqoP {
    display: flex;
    align-items: center;
    height: 48px;
    font-family: var(--font-main);
    font-size: 14px;
    padding: 0 16px;
    border-radius: 8px;
    cursor: pointer;
    background: transparent;
    color: var(--accents-4);
    white-space: nowrap;
    -webkit-user-select: none;
    user-select: none;
    transition: color .15s ease
}

.cmdk_item__kpqoP[aria-selected],
.cmdk_item__kpqoP[aria-selected] .cmdk_createdAt__Ge7JC {
    color: var(--accents-6)
}

.cmdk_item__kpqoP strong {
    font-weight: 600
}

.cmdk_item__kpqoP .cmdk_badge__9sTV3 {
    text-overflow: ellipsis;
    overflow: hidden
}

.cmdk_item__kpqoP .cmdk_createdAt__Ge7JC {
    transition: color .15s ease
}

.cmdk_itemDocs__F3Ip1 {
    height: 70px;
    white-space: normal
}

.cmdk_prefix__fmNrP {
    width: 20px;
    height: 20px;
    margin-right: 12px;
    display: flex;
    justify-content: center;
    align-items: center
}

.cmdk_prefix__fmNrP svg {
    width: 20px;
    height: 20px;
    margin-top: 1px
}

.cmdk_prefix__fmNrP svg.cmdk_gitLogo__1yRys {
    width: 16px;
    height: 16px;
    margin-top: 2px
}

.cmdk_suffix___owQC {
    margin-left: auto
}

.cmdk_group__hL_nH {
    display: flex;
    align-items: center;
    background: transparent;
    height: 28px;
    font-family: var(--font-main)
}

.cmdk_badge__9sTV3,
.cmdk_group__hL_nH {
    font-size: 12px;
    padding: 0 8px;
    color: var(--accents-5)
}

.cmdk_badge__9sTV3 {
    background: var(--accents-2);
    height: 20px;
    text-align: center;
    line-height: 20px;
    border-radius: 4px;
    border: 0;
    font-family: var(--font-sans);
    cursor: pointer;
    font-weight: 500
}

.cmdk_badge__9sTV3:first-of-type {
    margin-left: 8px
}

.cmdk_createdAt__Ge7JC {
    font-size: 12px;
    color: var(--accents-4)
}

.cmdk_gitMeta__ebOV8 {
    max-width: 450px;
    margin-right: var(--geist-space-2x)
}

.cmdk_resultsInfo__zFn6E {
    padding: var(--geist-space-2x) 0 var(--geist-space-2x) var(--geist-space-2x);
    margin-bottom: var(--geist-space-2x);
    height: 22px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 2;
    -webkit-box-orient: vertical
}

.cmdk_noResults__mdald,
.cmdk_resultsInfo__zFn6E {
    font-size: 12px;
    color: var(--accents-5)
}

@media (max-width:640px) {
    .cmdk_content__mMlTi {
        width: 100%;
        height: 100%
    }
    .cmdk_content__mMlTi [data-command-list-wrapper] {
        height: calc(100% - 54px - 20px - 1px - 16px - 140px) !important;
        overscroll-behavior-y: contain
    }
    .cmdk_gitMeta__ebOV8 .cmdk_badge__9sTV3 {
        display: none
    }
    .cmdk_content__mMlTi {
        transform: translateX(-50%) translateY(120px)
    }
    .cmdk_content__mMlTi.cmdk_rendered__SaUsz {
        transform: translateX(-50%) translateY(0)
    }
}

@keyframes cmdk_shake__zwvUS {
    10%,
    90% {
        transform: translate3d(-1px, 0, 0) var(--cmdk-transform)
    }
    20%,
    80% {
        transform: translate3d(2px, 0, 0) var(--cmdk-transform)
    }
    30%,
    50%,
    70% {
        transform: translate3d(-4px, 0, 0) var(--cmdk-transform)
    }
    40%,
    60% {
        transform: translate3d(4px, 0, 0) var(--cmdk-transform)
    }
}

@keyframes cmdk_loading__rw0wC {
    0% {
        opacity: 1;
        transform: translateX(0)
    }
    50% {
        opacity: 1;
        transform: translateX(100%)
    }
    to {
        opacity: 1;
        transform: translateX(0)
    }
}

.search-result-item_searchResTitle__RLMIR {
    font-size: 16px;
    color: var(--geist-foreground)
}

.search-result-item_searchResTitle__RLMIR,
.search-result-item_searchSnippet__yLMsP {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical
}

.search-result-item_searchSnippet__yLMsP {
    margin-top: var(--geist-space-2x);
    margin-bottom: var(--geist-space-2x);
    border-left: var(--geist-space) solid var(--accents-2);
    margin-left: 0;
    padding-left: var(--geist-space-2x)
}

.search-result-item_searchSnippet__yLMsP mark {
    background-color: transparent !important;
    color: inherit;
    font-weight: 700
}

.input_wrapper__GjQN_ {
    --input-border-color: transparent;
    --input-width: initial;
    --input-max-width: initial;
    --input-height: calc(9 * var(--geist-space));
    --input-wrapper-margin: 4px 10px;
    position: relative;
    width: var(--input-width);
    max-width: var(--input-max-width);
    height: var(--input-height);
    display: inline-flex;
    align-items: center;
    background: var(--geist-background);
    color: var(--input-border-color);
    border: 1px solid var(--input-border-color);
    transition: border-color .2s ease, color .2s ease
}

.input_wrapper__GjQN_.input_has-border___SrdR {
    --input-border-color: var(--accents-2);
    border-radius: 5px
}

.input_wrapper__GjQN_.input_focused__hAZj7 {
    --input-border-color: var(--accents-5)
}

.input_wrapper__GjQN_.input_disabled__H7nGQ {
    --input-border-color: var(--accents-2);
    background: var(--accents-1);
    cursor: not-allowed
}

.input_wrapper__GjQN_.input_errored__uRS_3 {
    --input-border-color: var(--geist-error)
}

.input_wrapper__GjQN_.input_errored__uRS_3.input_focused__hAZj7 {
    --input-border-color: var(--geist-error);
    color: var(--geist-error)
}

.input_wrapper__GjQN_.input_errored__uRS_3 .input_input__h_svx {
    color: var(--geist-error)
}

.input_wrapper__GjQN_.input_right__cK2Tc {
    flex-direction: row-reverse
}

.input_wrapper__GjQN_ .input_input__h_svx:disabled {
    color: var(--accents-5);
    -webkit-text-fill-color: var(--accents-5);
    cursor: not-allowed
}

.input_wrapper__GjQN_ .input_input__h_svx:disabled::placeholder {
    color: var(--accents-3);
    -webkit-text-fill-color: var(--accents-3)
}

.input_icon__fhN9C {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 var(--geist-gap-half);
    vertical-align: middle
}

.input_icon__fhN9C.input_right__cK2Tc {
    order: 2;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px
}

.input_icon__fhN9C.input_right__cK2Tc~.input_input-wrapper__BB57R {
    margin-right: 0
}

.input_icon__fhN9C:not(.input_right__cK2Tc)~.input_input-wrapper__BB57R {
    margin-left: 0
}

.input_icon__fhN9C svg path {
    transition: fill .2s ease, stroke .2s ease
}

.input_input-wrapper__BB57R {
    display: block;
    position: relative;
    width: 100%;
    margin: var(--input-wrapper-margin);
    margin-right: 0
}

.input_input__h_svx {
    border-radius: 0;
    border: none;
    box-shadow: none;
    box-sizing: border-box;
    display: block;
    padding: 0;
    font-family: var(--font-sans);
    font-size: 14px;
    line-height: 26px;
    outline: 0;
    width: 100%;
    color: var(--geist-foreground);
    background-color: transparent;
    caret-color: var(--geist-foreground);
    text-overflow: ellipsis;
    -webkit-appearance: none;
    appearance: none
}

@media only screen and (max-device-width:780px) and (-webkit-min-device-pixel-ratio:0) {
    .input_input__h_svx {
        font-size: 16px;
        line-height: 1
    }
    .input_wrapper__GjQN_ {
        --input-height: calc(2 * var(--geist-gap))
    }
}